body {
	background-image:url("c/logot.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:15%;
	background-position:50% 50%;
	font-family: courier;
	font-size: 90%;
}


h1 { color: white
}
h2 {
	color: #E60965;
}

a.cabeca:link {
  color: black;
  font-weight: bold;
  background-color: transparent;
  text-decoration: overline;
}
a.cabeca:hover {
  color: black;
  font-weight: bold;
  font-style: italic;
  background-color: pink;
  text-decoration: overline;
}
a.cabeca:visited {
  color: black;
  font-weight: bold;
  background-color: transparent;
  text-decoration: overline;
}
a.cabeca:active {
  color: black;
  font-weight: bold;
  font-style: italic;
  background-color: pink;
  text-decoration: overline;
}


a.email:link {
	color: black;
	background-color: transparent;
	border-bottom: 2px solid pink;
	text-decoration: none;
}
a.email:hover {
	color: black;
	background-color: pink;
	font-style: italic;
	text-decoration: none;
}
a.email:visited {
	color: black;
	background-color: transparent;
	border-bottom: 2px solid pink;
	text-decoration: none;
}
a.email:active {
	color: black;
	background-color: pink;
	font-style: italic;
	text-decoration: none;
}

p.sobre {
	margin-top: 9em;
	margin-bottom: 0em;
	margin-left: 20em;
	margin-right: 20em;
}

p.email {
	margin-top: 13em;
	margin-bottom: 3em;
	margin-left: 10em;
	margin-right: 10em;
}

.cabeca {
	width:20%;
}
img {
	width:15%;
}