body {
	background-image:url("c/logo.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:20%;
	background-position:44% 36%;
	font-family: courier;
	font-size: 90%;
}


h1 { color: white
}
h2 {
	color: #E60965;
}

a.cabeca:link {
  color: black;
  font-weight: bold;
  background-color: transparent;
  text-decoration: overline;
}
a.cabeca:hover {
  color: black;
  font-weight: bold;
  font-style: italic;
  background-color: pink;
  text-decoration: overline;
}


a.email:link {
	color: black;
	background-color: transparent;
	border-bottom: 2px solid pink;
	text-decoration: none;
}
a.email:hover {
	color: black;
	background-color: pink;
	font-style: italic;
	text-decoration: none;
}

p.sobre {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 7em;
	margin-right: 7em;
}

p.email {
	margin-top: 11em;
	margin-bottom: 3em;
	margin-left: 10em;
	margin-right: 1em;
}

.cabeca {
	width:50%;
}
img {
	width:60%;
}
