body {
	background-color: FloralWhite;
	background-image:url("c/logoqu.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:140px;
	background-position:50% 50%;
	font-family: courier;
	font-size: 100%;
}


ul{
	opacity: 1;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	list-style-type: none;
	text-align: center;
	border-bottom: 2px solid #E60965;
	background-color:FloralWhite;
}
ul li{
	display: inline-block;
	padding: 0px 5px 0px;
}

main{
	margin: 100px 4px 0px;
}

h1 { color: white
}
h2 {
	color: #E60965;
}

a.cabeca:link {
  color: black;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}
a.cabeca:hover {
  color: black;
  font-weight: bold;
  font-style: italic;
  background-color: pink;
  text-decoration: none;
}
a.cabeca:visited {
  color: black;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}
a.cabeca:active {
  color: black;
  font-weight: bold;
  font-style: italic;
  background-color: pink;
  text-decoration: none;
}


a.email:link {
	color: black;
	background-color: transparent;
	border-bottom: 2px solid pink;
	text-decoration: none;
}
a.email:hover {
	color: black;
	background-color: pink;
	font-style: italic;
	text-decoration: none;
}
a.email:visited {
	color: black;
	background-color: transparent;
	border-bottom: 2px solid pink;
	text-decoration: none;
}
a.email:active {
	color: black;
	background-color: pink;
	font-style: italic;
	text-decoration: none;
}

p.sobre {
	padding:0 80px 0 0;
	margin:0 18px 0;
}

p.email {
	margin:140px 10px 0 0;
}

.cabeca {
	width:80%;
}
img {
	width:30%;
}
